@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f9f5f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phone-container {
    width: 375px;
    height: 667px;
    border: 16px solid #333;
    border-radius: 30px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    background-image: url('Beige\ Aesthetic\ Birthday\ Party\ Instagram\ Story\ \(1\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding-top: 20px;
    background: transparent;
    margin-top: 30px;
}

h1 {
    font-size: 85px;
    color: #583F28;
    font-family: "Qwitcher Grypen", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.9;
    margin: 0;
    padding: 0;
}

.imagePolo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("Beige_Aesthetic_Birthday_Party_Instagram_Story__1_-transformed-removebg-preview\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}

.text h1{
    position: absolute;
    font-size: 1.8em;
    font-weight: 700;
    font-family: "Dancing Script", serif;
    margin-top: 270px;
    right: 0;
    margin-right: 30px;
    transform: rotate(-6deg); 
    text-align: center;
}

.text2 p{
    position: absolute;
    font-size: 0.9em;
    font-weight: 400;
    font-family: "Pacifico", serif;
    margin-top: 445px;
    left: 0;
    margin-left: 35px;
    transform: rotate(-6deg);
    color: #583F28; 
}
.text3 p{
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.85em;
    font-weight: 400;
    font-family: "Pacifico", serif;
    margin-top: 540px;
    margin-left: 40px;
    color: #583F28; 
}

/* Responsive Design: Adjust for smaller screens */
@media (max-width: 767px) {
    .phone-container {
        width: 100%;
        height:100%;
    }
}